.counter{
    display: flex;
    align-items: center;
    width: max-content;
    border: 1px solid gray;
    border-radius: 5px;
}
button{
    border: none;
    background-color: white;
    border-radius: inherit;
}
p{
    margin: 0;
    padding: 0 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}